.dark-mode-button{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	background: white;
}

html.dark-mode{
	filter: invert(100%);
}


html.dark-mode img{
	filter: invert(100%);
}
