body{
	background-color:white;
	box-sizing: border-box;
	font-family: Verdana;
	font-size: 12;
	padding: 5;
	margin: 5;
	
	transition: all 0.3s;
}
header{
	background-color: body.darkmode;
	padding: 10px;
	display: center;
	align-items: center;
	font-size: 1.2em;
}

header button{
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
	padding: 5px;
	background: #EFB200; 
}

header button:hover{
	background-color: black;
	color: yellow;
}

body.darkmode{
	background-color: rgb(24,24,24);
	color: white;
}
